// Place all the styles related to the coffeeshops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-canvas {
    height: 500px;
    width: 500px;
    margin: 0 auto;
    float:left;
    margin-left: 100px;
    margin-top: 15px;
}
#map-canvas img { 
  max-width: none;
}

#map-canvas label { 
  width: auto; display:inline; 
} 

#map-div {
    margin: 0 auto;
    font-family: 'Abril Fatface', cursive;
}

.near {
    list-style-type: none;
    font-family: 'Abril Fatface', cursive;
}

@media (max-width: 1025px){
  #map-canvas {
    margin-left: 75px;
  }
}

@media (max-width: 770px){
  #map-canvas {
    height: 400px;
    width: 400px;
    margin: 0 auto;
    float: center;
    margin-top: 15px;
  }
  #nearby-locations {
  margin-top: 15px;
  }
}

@media (max-width: 400px){
  #map-canvas {
    height: 300px;
    width: 300px;
    margin: 0 auto;
  }
}



 /* welcome page styles */

 .opener { background-color: #3399ff }

    .animated.drink {
      margin: 0 auto;
      width: 400px;
      font-size: 36px;
      text-align: center;
      font-family: 'Lato', sans-serif;
      color: whiteSmoke;
    }

    #container {
      height: 370px;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      /*top: -20px;*/
      width: 350px;
    }

    #container div { position: absolute; }

    .pour {
      position: absolute;
      left: 45%;
      width: 10px;
      height: 0px;
      background-color: #331900;
      border-radius: 10px
    }

    #cup {
      border: 10px solid #FFF;
      border-top: 0;
      border-radius: 0 0 20px 20px;
      height: 187px;
      left: 60px;
      right: -100;
      bottom: 0;
      width: 200px;
      margin-bottom: 10px;
    }

    #cup:before,
    #cup:after {
      border: 10px solid #FFF;
      border-bottom: 0;
      border-radius: 0px 180px 180px 0;
      content: '';
      height: 120px;
      margin-left: -120px;
      margin-right: -10px;
      position: absolute;
      width: 60px;
    }

    #cup:before { left: -50px; }
    #cup:after { right: -50px; }

    #liquid {
      background-color: #331900;
      border: 10px;
      border-radius: 0 0 10px 10px;
      bottom: 0;
      height: 0px;
      overflow: hidden;
      width: 180px;
    }

    #liquid:after {
      background-color: rgba(255, 255, 255, 0.25);
      bottom: -15px;
      content: '';
      height: 210px;
      left: -40px;
      position: absolute;
      transform: rotate(30deg);
      -webkit-transform: rotate(15deg);
      width: 110px;
    }


    /* Coffee Text */

    .animated {
      -webkit-animation-fill-mode:both;
         -moz-animation-fill-mode:both;
              animation-fill-mode:both;
      
      -webkit-animation-duration:5s;
         -moz-animation-duration:5s;
              animation-duration:5s;
      
      -webkit-animation-delay:3.5s; 
         -moz-animation-delay:3.5s;
              animation-delay:3.5s;
    }


    .animated.drink {
      -webkit-animation-duration:2s;
         -moz-animation-duration:2s;
              animation-duration:2s;
    }

    @-webkit-keyframes drink {
      0% { 
        -webkit-transform: rotate(0); 
        -webkit-transform-origin: top left; 
        -webkit-animation-timing-function: ease-in-out; 
      }
      
      20%, 60% { 
        -webkit-transform: rotate(80deg); 
        -webkit-transform-origin: top left; 
        -webkit-animation-timing-function: ease-in-out; 
      } 
      40% { 
        -webkit-transform: rotate(60deg); 
        -webkit-transform-origin: top left; 
        -webkit-animation-timing-function: ease-in-out; 
      } 
      
      80% { 
        -webkit-transform: rotate(60deg) translateY(0);  
        -webkit-transform-origin: top left; 
        -webkit-animation-timing-function: ease-in-out;
        opacity: 1;
      } 
      
      100% {
        -webkit-transform: translateY(700px); 
        opacity: 0; 
      }
    }

    @-moz-keyframes drink {
      0% { 
        -moz-transform: rotate(0); 
        -moz-transform-origin: top left; 
        -moz-animation-timing-function: ease-in-out; 
      }
      
      20%, 60% { 
        -moz-transform: rotate(80deg); 
        -moz-transform-origin: top left; 
        -moz-animation-timing-function: ease-in-out; 
      } 
      
      40% { 
        -moz-transform: rotate(60deg); 
        -moz-transform-origin: top left; 
        -moz-animation-timing-function: ease-in-out; 
      }
      
      80% {
        -moz-transform: rotate(60deg) translateY(0); opacity: 1; 
        -moz-transform-origin: top left; 
        -moz-animation-timing-function: ease-in-out; 
      }
      
      100% { 
        -moz-transform: translateY(700px); 
        opacity: 0; 
      }
    }

    @keyframes drink {
      0% { 
        transform: rotate(0); 
        transform-origin: top left; 
        animation-timing-function: ease-in-out; 
      }
      
      20%, 60% { 
        transform: rotate(80deg); 
        transform-origin: top left; 
        animation-timing-function: ease-in-out; 
      }
      
      40% { 
        transform: rotate(60deg); 
        transform-origin: top left; 
        animation-timing-function: ease-in-out; 
      }
      
      80% { 
        transform: rotate(60deg) translateY(0); 
        opacity: 1; transform-origin: top left; 
        animation-timing-function: ease-in-out; 
      } 
      100% { 
        transform: translateY(700px); 
        opacity: 0; 
      }
    }

    .drink {
      -webkit-animation-name: drink;
      -moz-animation-name: drink;
      animation-name: drink;
    }