// Place all the styles related to the coffeeshops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-canvas {
    height: 500px;
    width: 500px;
    margin: 0 auto;
}
#map-canvas img { 
  max-width: none;
}

#map-canvas label { 
  width: auto; display:inline; 
} 

#map-div {
    margin: 0 auto;
    font-family: 'Abril Fatface', cursive;
}

.near {
    list-style-type: none;
    font-family: 'Abril Fatface', cursive;
}