@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);

body {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 65px;
}


h4 {
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
}

.coffeeshop {
    font-family: 'Abril Fatface', cursive;
    font-size: 20px;
}

.field {
    font-family: 'Abril Fatface', cursive;
}


@media (max-width: 770px){
    h1 {
        font-size: 57px;
    }

}


@media (max-width: 650px){
    h1 {
        font-size: 53px;
    }
}


@media (max-width: 500px){
    h1 {
        font-size: 47px;
    }
    h4 {
        font-size: 33px;
    }
}


@media (max-width: 400px){
    h1 {
        font-size: 40px;
    }
    .coffeeshop {
        font-size: 15px;
    }
}












