@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);

body {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 70px;
}

h4 {
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
}

#coffeeshop {
    font-family: 'Abril Fatface', cursive;
    font-size: 20px;
}

.field {
    font-family: 'Abril Fatface', cursive;
}