<%= render partial: 'layouts/coffee_cup' %>

<h1>Welcome to The Honest Cup!</h1>
<h3>Your place to find independent coffee shops with fair trade, direct trade or organic coffee.</h3>
<br />
<%= link_to "Get yo' cup now!", coffeeshops_path, class: 'button radius round' %>