<body class="opener" onload="load()">
  <div id="container">
    <div class="pour"></div>
    <div id="cup">
      <div class="coffee"></div>
      
      <div id="liquid"></div>
    </div>
  </div>
    
  <h2 class="animated drink">Fill 'er up!</h2>


<script>
  function load(){
  $('.pour') //Pour Me Another Drink, Bartender!
    .delay(1800)
    .animate({
      height: '360px'
      }, 1500)
    .delay(1600)
    .slideUp(500);
  
  $('#liquid') // I Said Fill 'Er Up!
    .delay(3200)
    .animate({
      height: '170px'
    }, 2500);
  
  $('.coffee') // Keep that Coffee Rollin' Toward the Top! Yahooo!
    .delay(3400)
    .animate({
      bottom: '200px'
      }, 2500);
  };

</script>
</body>